*
!obj/Docker/publish/*
!obj/Docker/empty/

!config/*
!config/
!config/**/*
!umbraco/*
!umbraco/
!umbraco/**/*
.git
.cache
.vs
.vscode
.gitignore
.dockerignore
Dockerfile.*
Dockerfile
bin
obj
appsettings.Development.json
appsettings.local.json
configs/ms.sql.env
*.csproj.user
*.md